# Global Options Block
{
    # Use Cloudflare DNS challenge for all sites needing certificates via DNS
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

lidarr.ablz.au {
    reverse_proxy localhost:8686
}

ombi.ablz.au {
    reverse_proxy localhost:3579
}

music.ablz.au {
    reverse_proxy localhost:8085
}
