version: "3.8"
services:
  jdownloader-2:
    image: docker.io/jlesage/jdownloader-2:latest
    labels:
      - io.containers.autoupdate=registry
    container_name: jdownloader-2
    restart: unless-stopped
    ports:
      # Exposes the WebUI on port 5800
      - "5800:5800"
    volumes:
      # Persists configuration data
      - "${DATA_ROOT}/jdownloader2:/config"
      # Maps the host download location to the container's output directory
      - "${MEDIA_ROOT:-/mnt/data}/Media/Temp:/output"
      - "${MEDIA_ROOT:-/mnt/data}/Media/Books/Unsorted/Books/:/books"
    environment:
      # Sets the timezone for the container
      - TZ=Australia/Perth
      # Sets user and group IDs to manage file permissions, adjust if necessary
      - USER_ID=99
      - GROUP_ID=100
      - UMASK=0002
