services:
  alloy:
    image: docker.io/grafana/alloy:latest
    container_name: alloy
    restart: unless-stopped
    command: run --server.http.listen-addr=0.0.0.0:12345 --disable-reporting /etc/alloy/config.alloy
    network_mode: host
    volumes:
      - ./config.alloy:/etc/alloy/config.alloy:ro
      - /var/log:/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /tmp/appdata.backup:/tmp/appdata.backup:ro
      - alloy-data:/var/lib/alloy

  node-exporter:
    image: docker.io/prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    pid: host
    network_mode: host
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|var/lib/docker/.+|var/lib/containers/.+)($$|/)
      - --no-collector.mdadm
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro

volumes:
  alloy-data:
