---
services:
  netbootxyz:
    image: ghcr.io/netbootxyz/netbootxyz:latest
    labels:
      - io.containers.autoupdate=registry
    container_name: netbootxyz
    environment:
      # - MENU_VERSION=2.0.84 # optional
      - NGINX_PORT=80 # optional
      - WEB_APP_PORT=3000 # optional
    volumes:
      - ${DATA_ROOT}/netboot/config/:/config # optional
      - ${DATA_ROOT}/netboot/assets/:/assets # optional
    ports:
      - 3000:3000 # optional, destination should match ${WEB_APP_PORT} variable above.
      - ${TFTP_PORT:-1069}:69/udp
      - 8080:80 # optional, destination should match ${NGINX_PORT} variable above.
    restart: unless-stopped
