version: "3.8"

services:
  autoheal:
    container_name: autoheal
    image: docker.io/willfarrell/autoheal:latest
    labels:
      - io.containers.autoupdate=registry
    restart: unless-stopped
    environment:
      - TZ=Australia/Perth
      # Optional: Define the label autoheal looks for.
      # 'all' or leaving it unset defaults to monitoring containers with label `autoheal=true`.
      - AUTOHEAL_CONTAINER_LABEL=all
      # Optional: Set loop interval (default 5 seconds)
      - AUTOHEAL_INTERVAL=30
      # Optional: Stop timeout before sending SIGKILL (default 10 seconds)
      - AUTOHEAL_STOP_TIMEOUT=10
    volumes:
      # REQUIRED: Mount the docker socket so autoheal can interact with docker daemon
      - ${XDG_RUNTIME_DIR}/podman/podman.sock:/var/run/docker.sock

  dozzle:
    image: docker.io/amir20/dozzle:latest
    labels:
      - io.containers.autoupdate=registry
    restart: unless-stopped
    volumes:
      - ${XDG_RUNTIME_DIR}/podman/podman.sock:/var/run/docker.sock
      - ${DATA_ROOT}/dozzle/data:/data
    ports:
      - 8082:8080
    environment:
      # Uncomment to enable container actions (stop, start, restart). See https://dozzle.dev/guide/actions
      - DOZZLE_ENABLE_ACTIONS=true
      #
      # Uncomment to allow access to container shells. See https://dozzle.dev/guide/shell
      - DOZZLE_ENABLE_SHELL=true
      #
      # Uncomment to enable authentication. See https://dozzle.dev/guide/authentication
      - DOZZLE_AUTH_PROVIDER=simple
      - DOZZLE_REMOTE_AGENT=192.168.1.33:7007
      # - DOZZLE_FILTER=status=running
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

  gotify:
    image: docker.io/gotify/server
    labels:
      - io.containers.autoupdate=registry
    ports:
      - 8050:80
    # environment:
    # - GOTIFY_DEFAULTUSER_PASS= "admin"
    volumes:
      - "${DATA_ROOT}/gotify/data:/app/data"
