# Global Options Block
{
    # Use Cloudflare DNS challenge for all sites needing certificates via DNS
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}

    admin 0.0.0.0:2019
}

photos2.ablz.au {
    reverse_proxy localhost:2283
}

