version: "3.7"
services:
  kopia:
    image: docker.io/kopia/kopia:latest
    hostname: kopia
    container_name: kopiaphotos
    restart: always
    ports:
      - 51515:51515
    command:
      - server
      - start
      - --disable-csrf-token-checks
      - --insecure
      - --address=0.0.0.0:51515
      - --server-username=${KOPIA_SERVER_USER}
      - --server-password=${KOPIA_SERVER_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "test -d /photos"]
      interval: 30s
      timeout: 10s
      retries: 3
    environment:
      KOPIA_PASSWORD: ${KOPIA_PASSWORD}
      USER: "abc"
    volumes:
      - ${DATA_ROOT}/kopiaphotos/config:/app/config
      - ${DATA_ROOT}/kopiaphotos/cache:/app/cache
      - ${DATA_ROOT}/kopiaphotos/logs:/app/logs
      - ${DATA_ROOT}/kopiaphotos/tmp:/tmp:shared
      - ${MEDIA_ROOT:-/mnt/data}/Life/Photos:/photos:ro

  kopiamum:
    image: docker.io/kopia/kopia:latest
    hostname: kopia
    container_name: kopiamum
    restart: always
    ports:
      - 51516:51515
    command:
      - server
      - start
      - --disable-csrf-token-checks
      - --insecure
      - --address=0.0.0.0:51515
      - --server-username=${KOPIA_SERVER_USER}
      - --server-password=${KOPIA_SERVER_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "test -d /data && test -d /mum"]
      interval: 1m
      timeout: 2m
      retries: 5
    environment:
      KOPIA_PASSWORD: ${KOPIA_PASSWORD}
      USER: "abc"
    volumes:
      - ${DATA_ROOT}/kopiamum/config:/app/config
      - ${DATA_ROOT}/kopiamum/cache:/app/cache
      - ${DATA_ROOT}/kopiamum/logs:/app/logs
      - ${DATA_ROOT}/kopiamum/tmp:/tmp:shared
      - ${MEDIA_ROOT:-/mnt/data}/:/data:ro
      - ${MUM_ROOT:-/mnt/mum}/:/mum
